<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="twitterBot.BotUserMapper">
    <select id="selectMulti" resultType="BotUsersDomain" parameterType="BotUsersDomain">
        SELECT * FROM bot_users
        <where>
            is_deleted = FALSE
            <if test="twUserId != null">
                tw_user_id = #{twUserId}
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate}
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate}
            </if>
        </where>
    </select>

    <select id="selectOne" resultType="BotUsersDomain" parameterType="BotUsersDomain">
        SELECT * FROM bot_users
        WHERE
            is_deleted = FALSE
            AND tw_user_id = #{twUserId}
    </select>

    <insert id="insert" parameterType="BotUsersDomain">
        INSERT INTO bot_users
            (tw_user_id)
        VALUES
            (#{twUserId})
    </insert>

    <update id="update" parameterType="BotUsersDomain">
        UPDATE bot_users
        <set>
            update_date = CURRENT_TIMESTAMP
        </set>
        <where>
            tw_user_id = #{twUserId}
            AND is_deleted = FALSE
        </where>
    </update>

    <update id="deleteLogical" parameterType="BotUsersDomain">
        UPDATE bot_users
        SET
            update_date = CURRENT_TIMESTAMP,
            is_deleted = TRUE
        WHERE
            tw_user_id = #{twUserId}
            AND is_deleted = FALSE
    </update>

    <update id="restoreDeletedUser" parameterType="BotUsersDomain">
        UPDATE bot_users
        SET
            update_date = CURRENT_TIMESTAMP,
            is_deleted = FALSE
        WHERE
            tw_user_id = #{twUserId}
            AND is_deleted = TRUE
    </update>

    <select id="selectThoughDeleted" resultType="BotUsersDomain" parameterType="BotUsersDomain">
        SELECT * FROM bot_users
        WHERE
            tw_user_id = #{twUserId}
    </select>

</mapper>