<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.github.graycat27.twitterbot.heroku.db.domain"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/BotUserMapper.xml" />
        <mapper resource="mybatis/TwitterAuthMapper.xml" />
        <mapper resource="mybatis/TwitterRecordMapper.xml" />
        <mapper resource="mybatis/DbQueryMapper.xml" />
    </mappers>


</configuration>