<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="twitterBot.TwitterUserTokenMapper">
    <select id="selectOne" resultType="TwitterUserTokenDomain" parameterType="TwitterUserTokenDomain">
        SELECT * FROM twitter_user_token
        WHERE
            is_deleted = FALSE
            AND tw_user_id = #{twUserId}
    </select>

    <insert id="insert" parameterType="TwitterUserTokenDomain">
        INSERT INTO twitter_user_token
            (tw_user_id, oauth_token, oauth_token_secret, oauth_refresh_token)
        VALUES
            (#{twUserId}, #{oauthToken}, #{oauthTokenSecret}, #{oauthRefreshToken})
    </insert>

    <delete id="delete" parameterType="TwitterUserTokenDomain">
        DELETE FROM twitter_user_token
        WHERE
            is_deleted = FALSE
            AND tw_user_id = #{twUserId}
    </delete>

</mapper>